TELEGRAM_BOT_TOKEN=Telegram Bot Token | Refer to the URL `https://core.telegram.org/bots/features#botfather` to create a Bot Token.
TELEGRAM_CHANNEL_ID=Telegram Chat ID | Enter your Telegram channel or chat ID.
